@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
* {
    margin: 0;
    padding: 0;
}

.nav-main {
    width: 90vw;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-child:first-child {
    font-size: 25px;
    color: rgb(175, 212, 44);

}

.nav-child:nth-child(2) {
    font-size: 17px;

}

.nav-child ul {
    display: flex;
    gap: 12px;
    justify-content: end;
}

.nav-child ul {
    list-style: none;
}

.imgdiv {
    height: 70vh;
    width: 100%;
    position: relative;
}

.img-text{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 31%;
    left: 32%;
    
}

.img-text :first-child{
    font-size: 100px;
    color: white;
    font-family: 'Protest Revolution', sans-serif;
}

.img-text :nth-child(2){
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.img-text :nth-child(3){
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.img-text button{
   background-color: transparent;
   color: white;
   border: 1px solid white;
   padding: 12px 40px;
   margin-top: 20px;
   border-radius: 26px;
   font-size: 17px;
   
}
.imgdiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-parent{
    display: flex;
    justify-content: center;
    background-color: rgb(233, 234, 229);
}

.card-main{
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  padding: 10px 20px 0px 20px ;
  margin: 40px 0px 60px 0px;

}

.card{
    background-color: white;
    height: 57vh;
    width: 23vw;
    border-radius: 5px;

  }

.card-img img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card-img {
    width: 100%; 
    height: 180px;
    overflow: hidden;

}
.card button{
   background-color:rgb(175, 212, 44);
   color: white;
   font-size: 16px;
   padding: 10px 20px;
   border-radius: 20px;
   margin: 20px 0px 20px 10px;
   border: 2px solid rgb(175, 212, 44);
  
}

.card :nth-child(2){
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px 10px 10px;

}

.card :nth-child(3){
   
    margin: 5px 0px 5px 10px;
}

.card :nth-child(4){
    margin: 5px 0px 5px 10px;
}

.card :nth-child(5){
    margin: 5px 0px 5px 10px;
}

.imgdiv2{
    height: 40vh;
    width: 100%;
    border: 1px solid black;
    position: relative;

}
.imgdiv2-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 16%;
    align-items: center;
   
}
.imgdiv2-text :first-child{
    font-size: 80px;
    color: white;
    font-family: 'Protest Revolution', sans-serif;
}
.imgdiv2-text :nth-child(2){
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.imgdiv2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.last-cards{
    height: 37vh;
    width: 23vw;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: white;
}
.last-cards p:first-child{
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0px 15px 15px;
}

.last-cards p:nth-child(2){
    font-size: 18px;
    margin: 15px 0px 15px 15px;
}

.last-cards p:nth-child(3){
    font-size: 18px;
    margin: 15px 0px 15px 15px;

}

.last-main{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    gap: 20px;
    margin: 40px 0px 60px 0px;
}
.last-parent{
    display: flex;
    background-color: rgb(233, 234, 229);
    justify-content: center;
}

.foter{
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    position: relative;
}

.foter img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.fi-child{
    color: white;
    width: 20vw;
    height: 25vh;
    margin-right: 20px;
}
.fi-child li:first-child {
    font-size: 25px;
    margin-bottom: 25px;
  }

.fi-child li{
   list-style: none;
}

.foter-info{
    display: flex;
    position: absolute;
    top: 25%;
    right: 6%;
   
}

.in1{
    background-color: transparent;
    color: black;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px;
}
.in1::placeholder {
    color: white;
}

.in2{
    padding: 11px;
    background-color: rgb(175, 212, 44);
    border: 1px solid rgb(175, 212, 44);
}

.foter-info2{
    position: absolute;
    top: 70%;
    left: 9%;
    color: white;display: flex;
    justify-content: space-between;
    width: 82%;
}

.foter-info2 :first-child{
    font-size: 20px;
}